{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="row">
        <div class="span2 offset5" style="text-align:center">
            <img src="{{ url_for('static', filename='img/spider.png') }}"/>
        </div>
    </div>

    <div class="row">
        <div class="well span4 offset4" style="text-align:center">
            <form class="form-inline" method="POST">
                {{ form.hidden_tag() }}
                {{ form.login(class="input-small", placeholder="Login") }}
                {{ form.password(class="input-small", placeholder="Password") }}
                {{ form.submit }}
            </form>
            {% if bad_login or unknown_error %}
                <div class="alert alert-error">
                    {% if bad_login %}
                        Wrong login or password.
                    {% elif unknown_error %}
                        Unknown error. Try again.
                    {% endif %}
                </div>
            {% else %}
                <div class="alert alert-info">
                    Input your login and password.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}